<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Bobby Jones Soft.otf</string>
		<string>Bobby Jones Soft Outline.otf</string>
		<string>magic-world.line.ttf</string>
		<string>magic-world.regular.ttf</string>
	</array>
</dict>
</plist>
